@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@keyframes appear {
    0% {
        transform: translateY(-50px);
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

:root {
    --cor: #338AF3;
    --bg: url(assets/blue.svg);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*fixa a largura da caixa*/
}

body.green {
    --cor: #16aa16;
    --bg: url(assets/green.svg);
}

body.yellow {
    --cor: #caca35;
    --bg: url(assets/yellow.svg);
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background: #121214 var(--bg) no-repeat center;
    background-size: cover;
}

header {
    margin-bottom: 63px;
    text-align: center;
}

#app {
    width: fit-content;
    margin: auto;
    padding-top: 52px;
}

.selecao {
    text-align: center;
    padding: 32px 23px;
    background-color: #1D1C19;
    border-bottom: 2px solid var(--cor);
    border-radius: 6px;
    display: inline-block;
    margin: 30px;
    animation: appear .2s forwards;
    animation-delay: .2s;
}

.selecao:nth-child(2) {
    animation-delay: .4s;
}

#datas > div > ul > h1 {
    color: var(--cor);
    text-transform: uppercase;
}

ul > #dias > h2 {
    color: #F7DD43;
    padding: 8px 16px;
    border: 1px solid var(--cor);
    border-radius: 6px;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-inline: auto;
    margin-bottom: 25px;
}

ul > #dias > h2 > span {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 270px;
}

ul > #dias > li {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul > .proximo {
    padding-top: 24px;
    border-top: 1px solid #ffffff52;
}

ul > .proximo > li + li {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #323238;
}

ul > #dias > li > strong {
    color: #ffffff;
    font-size: 36px;
    line-height: 125%;
}

ul > #dias > h2:hover,
ul > #dias > li > img:hover, 
ul > #dias > li > strong:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
}